# Pliki konfiguracyjne z hasłami
.env

# Foldery wirtualnego środowiska
venv/
.venv/
/Lib/

# Pliki tymczasowe Pythona
__pycache__/
*.py[cod]

wyniki_scrapingu.json
*.bin
*.npy
SeleniumProfile/
__pycache__/
.idea/
